<div class='container'>
  <section class="page-container">
    <section class="page-header">
      <h1>Karma Leaderboard</h1>
    </section>

    <table id='myTable' class='tablesorter leaderboard'>
      <thead>
        <tr>
          <th></th>
          <th><span>Name</span></th>
          <th><span>Karma</span></th>
          <th><span>Bikers Rescued</span></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><div id='profile-photo-karma'><%= image_tag gravatar_url(user) %></td>
          <td><%= link_to "#{user.first_name.capitalize} #{user.last_name.capitalize}", user_path(user.id) %></td>
          <td><%= user.karma_count %></td>
          <td><%= user.responses.length %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>

<footer>
  <script>
    $(document).ready(function() { 
      $("#myTable").tablesorter(); 
    }); 
  </script>
</footer>