<div id='user_nav'>
  <% if %>
    Signed in as <%= current_user %>. Not you?
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign up!', new_user_registration_path %> Or, <%= link_to 'Sign in', new_user_session_path %> 
  <% end %>
</div>