<h1>New Request</h1>

<p><textarea id="request">Enter Your Request</textarea></p>
<div></div>

<div id="location">
<p><button>Submit Request</button></p>
</div>

<%= link_to 'Back', dashboard_path %>
