<section class="page-container">
  <section class="page-header"><h1>Request Help</h1></section>
    <p><textarea id="request">Enter Your Request</textarea></p>
    <div></div>

    <div id="location">
    <p><button>Submit Request</button></p>
    </div>
    
  </section>
</section>
