$max-width: 80%;
$grid-columns: 12;

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: image-url('tilt_shift_bike_black_42.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

// Flash Notice Styling 
.notice{
  @include span-columns(12);
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}

h1 {
  color:black;

  &#welcome-header {
    color: white;
    font-size: 12em;
    font-family: 'Open Sans';
    font-weight: 700;
    @include span-columns(8 of 10);
    @include shift(3);
    margin-top: -50px;
    text-shadow: 1px 1px 1px #000;
  }
}

.page-header {
  text-align: center;
  @include span-columns(12);
  h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }
}

#dashboard-header {
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 4em;
  margin-bottom: 30px;
}

.page-container {
  background-color: #f4f4f4;
  @include span-columns(6);
  @include shift(3);
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#welcome-page-container{
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  margin: 40px;
  padding: 40px;
}

.map { 
  @include span-columns(7); 
  margin-left: 80px;
}

#event-detail { 
  @include span-columns(4); 
  @include column-rule(1px solid green);
  background-color: #f4f4f4; //#d6e3ff;
  height: 650px;
  border-radius: 6px;
  text-align: center;
  padding: 30px;
}

.side-bar-content {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 75px;
}

#welcome-side-bar {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 65px;
}

// Switch
#switch {
  @include span-columns(4);
  @include shift(2);
  display: block;
  clear: all;
  margin: 30px;
}

.label-switch {
  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $knob-height: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-height;
  $knob-radius: $switch-height - ($switch-padding * 2);

  align-self: center;
  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  vertical-align: middle;
  width: $switch-width;
  @include box-sizing(border-box);

  input[type="checkbox"] {
    display: none;

  + .checkbox {
    background: #e5e5e5;
    border: none;
    border-radius: $switch-radius;
    cursor: pointer;
    height: $switch-height;
    margin: 0;
    padding: 0;
    position: relative;
    width: $switch-width;
    z-index: 0;
    @include box-sizing(border-box);
    @include transition(all 0.3s ease);

    &:before {
      background: white;
      border-radius: $switch-radius;
      content: ' ';
      height: $knob-radius;
      width: $switch-width - ($switch-padding * 2);
      z-index: 1;
      @include box-sizing(border-box);
      @include position(absolute, 2px 0 0 2px);
      @include transition(all 0.3s ease);
      @include transform(scale(1));
    }

    &:after {
      background: white;
      border-radius: $knob-radius;
      content: ' ';
      height: $knob-height;
      width: $knob-width;
      z-index: 2;
      @include box-shadow(0 2px 5px rgba(0,0,0,0.4));
      @include position(absolute, 2px 0 0 2px);
      @include transition(all 0.3s ease);
    }
  }

  &:checked {
    + .checkbox {
      background: $blue;
        
        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}

// Sortable Karma Table CSS
#myTable thead {
  cursor: pointer;
  background: #c9dff0;
}

#myTable thead tr th.headerSortUp, #myTable thead tr th.headerSortDown {
  background: #acc8dd;
}

#myTable thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}
#myTable thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}