body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image:url('shift_bike.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

$max-width: 90%;
$grid-coluns: 12;

.map { @include span-columns(7); }

#event-detail { 
  @include span-columns(4); 
  @include column-rule(1px solid green);
  background-color: #d6e3ff;
  height: 650px;
}

