/*body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  margin: 1em;
  font-weight: 700;
  background-image: url ('shift_bike.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
background-size: initial;
background-position: absolute;
background-position: center center;
  font: 1.6em courier;
}*/

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image:url('shift_bike.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#page-wrap { 
  width: 1200px; 
  margin: 20px auto;
  display: block;
}

#map-canvas-container {
  display: block;
  display: inline-block;
  float: left;
  width: 800px;
}

#map-canvas {  
  height: 650px;
  width: 100%; 
  display: inline-block;
  float: left;
  border: 1px solid black;
}

#event-detail { 
  width: 340px; 
  display: inline-block;
  float: right; 
  background: #b3ddf2; 
  padding: 20px; 
  height: 400px;
}

h1 { 
  margin: 0 0 15px 0; 
  font: bold 48px Helvetica, Arial, Sans-Serif; 
  letter-spacing: -2px; 
}

h2 { 
  margin: 0 0 15px 0; 
  font: bold 32px Helvetica, Arial, Sans-Serif; 
  letter-spacing: -1px; 
  text-shadow: 0 1px 0px rgba(255,255,255,0.3); 
}

h3 { 
  margin: 0 0  1px 0; 
  font: bold 18px Helvetica, Arial, Sans-Serif; 
  letter-spacing: -1px; 
}
